<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/CSS/login.css"> <!-- Link tới file CSS -->
</head>
<body>
    <div class="container"> <!-- Thêm div bọc ngoài -->
        <h2>Đăng nhập</h2>
        <form method="POST">
            <input type="email" name="email" placeholder=" email" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>
            <button type="submit">Đăng nhập</button>
        </form>
        <a href="/register">Chưa có tài khoản? Đăng ký ngay</a>
    </div>
</body>
</html>