<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" href="static/CSS/register.css">
</head>
<body>

    <div class="container">
        <h2>Đăng ký</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Tên người dùng" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>

            <button type="submit">Tham gia ngay</button>
        </form>

        <a href="/login">Đã có tài khoản? Đăng nhập</a>
    </div>

</body>
</html>